<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='http://fullcalendar.io/js/fullcalendar-2.4.0/fullcalendar.css' rel='stylesheet' />
<link href='http://fullcalendar.io/js/fullcalendar-2.4.0/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.4.0/fullcalendar.js'></script>

<script src='/javascripts/calendar.js'></script>


<link href='/css/calendar.css' rel='stylesheet' />

<!-- the code from the JavaScript tab will go here -->


<!-- the code from the CSS tab will go here -->

</head>
<body>
  <div id='meetingId' data-meeting={{{meetingId}}}></div>
  <div class="row text-center center-block control-group"> 
    <div class="calendar-container"> 
      <div id='calendar'></div>
        <div class="col-xs-12" style="height:5px;"></div>
        <a class="btn btn-danger text-center btn-lg">submit</a> 
    </div>
  </div>
</body>
</html>

